body {
  margin: 0;
  padding: 0;
}

p {
  font-family: serif;
  margin-bottom: 12px;
}

h1,h2,h3 {
  font-family: sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 32px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
  margin-bottom: 0;
}

#header a {
  color: #fff;
}

#header {
  margin-bottom: 32px;
  text-align: left;
  background-color: #222;
  color: #fff;
  padding: 10px 15px;
}

#main {
  padding: 0 15px;
}

#footer {
  margin-top: 64px;
  text-align: left;
  padding: 10px 15px;
}
